.bookContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 400px;
    box-sizing: border-box;
    border: #d2c6bf 1px solid;
    border-radius: 8px;
    padding: 8px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.bookTitle {
    color: #53433a;
    font-size: 16px;
    text-align: center;
    display: block;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookPrice {
    color: #68564b;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookImage {
    max-width: 200px;
}

.removeButton {
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 8px 10px;
    background-color: #d24d3e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}